@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}

ul {
  list-style: none;
  font-size: 30px;
}

.todo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr, 4fr, 1fr;
}
h1 {
  grid-area: 1/1/2/3;
  justify-self: center;
  align-self: center;
  font-size: 50px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 3px black;
  border-radius: 30px;
  color: white;
}
.main {
  grid-area: 2/1/3/3;
  display: flex;
  gap: 150px;
  justify-content: center;
}

.leftmain {
  grid-area: 2/1/3/2;
  background-color: beige;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.rightmain {
  grid-area: 2/2/3/3;
  background-color: beige;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  display: flex;
  margin-bottom: 5px;
  gap: 20px;
  align-items: center;
}

li button {
  padding: 3px 10px;
  background-color: red;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}

.left > li {
  padding: 30px;
  background-color: aliceblue;
  justify-content: center;
  border-radius: 25px;
  cursor: pointer;
  padding: 3px 20px;
}
.right > li {
  background-color: aliceblue;
  justify-content: center;
  padding: 30px;
  border-radius: 25px;
  border-left: 5px solid;
  cursor: pointer;
}

#projectadd,
.addNotes {
  padding: 5px 15px;
  background-color: rgb(103, 103, 236);
  border-radius: 25px;
  color: white;
  border: 1px solid black;
  font-size: 20px;
  width: 200px;
  justify-self: center;
  align-self: center;
}

#projectadd {
  background-color: rgb(238, 238, 72);
}

dialog {
  margin: auto;
}
